[Unit]
Description=Hydrapool Service

[Service]
Type=simple
User=hydrapool
Group=hydrapool
ExecStart=/home/hydrapool/.cargo/bin/hydrapool --config /home/hydrapool/.cargo/bin/hydrapool/config.toml
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hydrapool

[Install]
WantedBy=multi-user.target