{
	"btcd": [
		{
			"url": "hydrapool-bitcoind:{{ btc_rpc_port }}",
			"auth": "p2pool",
			"pass": "p2pool",
			"notify": false
		}
	],
	"btcaddress": "{{ payout_address }}",
	"btcsig": "/hydrapool solo/",
	"blockpoll": 100,
	"donation": 2.0,
	"nonce1length": 4,
	"nonce2length": 8,
	"update_interval": 30,
	"version_mask": "1fffe000",
	"serverurl": [
		"0.0.0.0:3333"
	],
	"mindiff": 1,
	"startdiff": 1,
	"maxdiff": 0,
	"zmqblock": "tcp://hydrapool-bitcoind:28332",
	"logdir": "logs",
	"btcnetwork": "testnet4"
}