# P2Pool configuration for {{ network }} network

[network]
listen_address = "/ip4/0.0.0.0/tcp/6884"
dial_peers = []
enable_mdns = true
max_pending_incoming = 10
max_pending_outgoing = 10
max_established_incoming = 50
max_established_outgoing = 50
max_established_per_peer = 1
max_workbase_per_second = 10
max_userworkbase_per_second = 10
max_miningshare_per_second = 100
max_inventory_per_second = 100
max_transaction_per_second = 100
rate_limit_window_secs = 1


# CKPool configuration
[ckpool]
host = "hydrapool-ckpool"
port = 8881

[miner]
pubkey = "020202020202020202020202020202020202020202020202020202020202020202"

# Bitcoin configuration
[bitcoin]
network = "{{ network }}"
url = "http://p2pool:p2pool@hydrapool-bitcoind:{{ btc_rpc_port }}"
username = "p2pool"
password = "p2pool"

# Data storage
[storage]
path = "/data/{{ network }}"

# Logging configuration
[logging]
level = "info"
console = true
